- theme = current_user && current_user.theme ? current_user.theme : "flatly"

- [\
    "bootstrap/#{theme}.min",
    "fontawesome/css/all.min",
    "slimselect.min",
    "application",
  ].each do |url|
  = stylesheet_link_tag url, "data-turbo-track": "reload"

- [\
    "bootstrap.bundle.min.js",
    "slimselect.min.js",
    "application",
  ].each do |url|
  = javascript_include_tag url, "data-turbo-track": "reload", defer: true
