- theme = current_user && current_user.theme ? current_user.theme : "flatly"
- cdn = "https://cdnjs.cloudflare.com/ajax/libs"

- [ "#{cdn}/font-awesome/6.1.1/css/all.min.css",
    "https://bootswatch.com/5/#{theme}/bootstrap.min.css",
    "slimSelect", "application" ].each do |url|
  = stylesheet_link_tag url, "data-turbo-track": "reload"

- [ "#{cdn}/jquery/3.6.0/jquery.min.js",
    "#{cdn}/bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js",
    "slimSelect", "application" ].each do |url|
  = javascript_include_tag url, "data-turbo-track": "reload", defer: true
